body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-box {
  padding: 20px;
  height: 400px;
  overflow-y: scroll;
}

.message {
  margin-bottom: 15px;
}

.message strong {
  color: #333;
}

.message .timestamp {
  color: #999;
  font-size: 0.85em;
  margin-left: 10px;
}
.message img {
  width: 15px;
  height: 15px;
}
#stop {
  border: 1px solid #252525;padding: 5px;border-radius: 5px;background: #fff;
}
#sendbutton {
  border: 1px solid #252525;padding: 7px;border-radius: 5px;background: #fff;
}
#message-input {
  width: 50%;margin: 0 auto;padding: 10px;border: 3px solid #7d7d7d;border-radius: 10px;
}
#visit {
  float: right;margin-top: 17px;color: #bababa;
}
a {
  text-decoration: none;
  color: rgb(15, 16, 62);
}
span[class="content"] > a {
  color: red;
}
select {
  border: 1px solid #cdcdcd;
  border-radius: 12px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* ハンバーガーメニューアイコン */
#menu-icon {
  position: fixed;
  top: 15px;
  left: 10px;
  font-size: 30px;
  cursor: pointer;
  z-index: 1000;
}

/* ハンバーガーメニュー */
#side-menu {
  position: fixed;
  left: -250px; /* 初期状態は画面の外 */
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  z-index: 999;
  transition: left 0.3s ease;
}

#side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#side-menu ul li {
  padding: 15px;
}

#side-menu ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

#side-menu ul li a:hover {
  background-color: #575757;
}
#bot-button {
  display: inline-block;
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

#bot-button.on {
  background-color: blue;
}

#bot-button.off {
  background-color: red;
}
